---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&units=imperial&zip=96754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-159.3954,"lat":22.2073},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":78.04,"feels_like":79.36,"temp_min":78.04,"temp_max":78.71,"pressure":1019,"humidity":81,"sea_level":1019,"grnd_level":1015},"visibility":10000,"wind":{"speed":12.68,"deg":79,"gust":15.48},"clouds":{"all":30},"dt":1733864081,"sys":{"type":2,"id":2039329,"country":"US","sunrise":1733850407,"sunset":1733889295},"timezone":-36000,"id":0,"name":"Kilauea","cod":200}'
  recorded_at: Tue, 10 Dec 2024 20:59:02 GMT
recorded_with: VCR 6.3.1
